:root {
    --bright-blue: hsl(220, 98%, 61%);
    --gradient: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    // Light Theme
    --light-gray: hsl(0, 0%, 98%);
    --very-light-gray-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-gray-blue: hsl(236, 9%, 61%);
    --very-dark-gray-blue: hsl(235, 19%, 35%);

    // Dark Theme
    --dark-blue: hsl(235, 21%, 11%);
    --dark-blue-desaturated: hsl(235, 24%, 19%);
    --light-gray-blue: hsl(234, 39%, 85%);
    --light-gray-blue-hover: hsl(236, 33%, 92%);
    --very-dark-gray-blue: hsl(234, 11%, 52%);
    --very-dark-gray-blue: hsl(233, 14%, 35%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    transition: 0.3s;
}

body,
html {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    min-height: 200px;
    padding: 0 2rem;
    color: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
}

#button-theme {
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}

.todo-item {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 1rem 1.5rem;
    border-radius: 7px;  
}

.complete {
    .todo__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--gradient);

        img {
            display: block;
            width: 50%;
        }
    }


    .todo__section-task-list__description {
        text-decoration: line-through;
        color: var(--very-dark-gray-blue);
    }
}

.todo__icon {
    height: 25px;
    width: 33px;
    border-radius: 50%;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

.todo__complete-task {
    background: none;
    cursor: pointer;

    img {
        display: none;
        cursor: pointer;
    }
}

.todo__form-textarea {
    display: flex;
    align-items: center;
    width: 100%;
    resize: none;
    padding: 0;
    overflow: hidden;
    background: transparent;
    border: none;
    font-size: 1rem;
    line-height: 2rem;

    &:focus {
        outline: none;
    }
}

/* ---- Main To-do List ---- */
main {
    position: relative;
    padding: 0 2rem 4rem 2rem;
    min-height: calc(100vh - 200px - 65px);
}

.dragging {
    cursor: grabbing;
}

.todo-main {
    border-radius: 7px;  
    margin-top: -2rem;
}

.todo-main .todo-item {
    border-radius: 0;
    background: none;
}

.todo__section-task-list__li {
    justify-content: space-between;
}

.todo__section-task-list__description {
    width: 100%;
    font-weight: 400;
    padding: 0.2rem 0 0.2rem 0.2rem;

    &:focus{
        outline-style: none;
        background-color: rgb(from var(--bright-blue) r g b / 10%);
        /* border-bottom: 0.5px solid var(--bright-blue) */
    }
}

.todo__section-task-list__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    svg {
        width: 18px;
        height: 18px;
    }
}

.todo__section-task-details {
    justify-content: space-between;
    font-size: 1rem;
}

.todo__section-task-details button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        color: var(--bright-blue);
    }
}

.todo__section-task-filters {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.todo__section-task-filters__li {
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.todo__section-task-filters__div {
    display: none;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked+label{
    color: var(--bright-blue);
}

.main-drag-text {
    margin-top: 4rem;
    text-align: center;
    font-size: 1rem;
}


/* ---- Footer ---- */
.attribution {
    float: bottom;
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 1rem 1rem;
    border-top: 1.5px solid var(--light-gray);
    background-color: var(--white);
    color: var(--dark-gray);
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--dark-violet);
    transition: 0.3s;

    &:hover {
        color: #d05ab0;
    }
}


[app-theme="dark"] {
    .primary-font {
        color: var(--light-gray-blue);
    }

    .secondary-font {
        color: var(--very-dark-gray-blue);
    }

    body {
        background-color: hsl(235, 21%, 11%);
    }

    header {
        background: url('images/bg-mobile-dark.jpg');
        background-position: center;
        background-size: cover;
    }

    #button-theme {
        background: url('images/icon-sun.svg');
        background-position: center;
        background-size: cover;
    }
    
    header .todo-item, .todo__section-task-filters {
        background-color: var(--dark-blue-desaturated);
    }

    .todo__icon {
        border: 1px solid var(--very-dark-gray-blue);
    }

    .todo__form-textarea::placeholder {
        color: var(--very-dark-gray-blue);
    }

    /* ---- Main To-do List ---- */
    .todo-main {
        background-color: var(--dark-blue-desaturated);
    }  

    .todo__section-task-list .todo-item {
        border-bottom: 1px solid var(--very-dark-gray-blue);
    }

    /* ---- Footer ---- */
    .attribution {
        border-top: 1.5px solid var(--very-dark-gray-blue);
        color: var(--very-dark-gray-blue);
    }
    
    .attribution a {
        color: var(--dark-gray-blue);
    
        &:hover {
            color: var(--bright-blue);
        }
    }

}

[app-theme="light"] {
    .primary-font {
        color: var(--very-dark-gray-blue);
    }

    .secondary-font {
        color: var(--dark-gray-blue);
    }

    body {
        background-color: var(--very-light-gray-blue);
    }

    header {
        background: url('images/bg-mobile-light.jpg');
        background-position: center;
        background-size: cover;
    }

    #button-theme {
        background: url('images/icon-moon.svg');
        background-position: center;
        background-size: cover;
    }
    
    header .todo-item, .todo__section-task-filters  {
        background-color: hsl(0, 0%, 98%);
    }

    .todo__icon {
        border: 1px solid var(--light-grayish-blue);
    }

    .todo__form-textarea {
        color: var(--very-dark-gray-blue);
    }

    .todo__form-textarea::placeholder {
        color: var(--dark-gray-blue);
    }

    /* ---- Main To-do List ---- */
    .todo-main {
        background-color: hsl(0, 0%, 98%);
    }  

    .todo__section-task-list .todo-item {
        border-bottom: 1px solid var(--light-grayish-blue);
        color: var(--very-dark-gray-blue);
    }

    /* ---- Footer ---- */
    .attribution {
        border-top: 1.5px solid var(--light-gray-blue);
    }
    
    .attribution a {
        color: var(--very-dark-gray-blue);
    
        &:hover {
            color: var(--bright-blue);
        }
    }
}

@media screen and (min-width: 700px){
    header {
        padding: 0;
        row-gap: 2.5rem;
        min-height: 17rem;
    }

    .header {
        width: 70%;
        max-width: 45rem;
        margin: 0 auto;
    }

    .header h1 {

    }
    
    .todo-add-task {
        width: 70%;
        max-width: 45rem;
        margin: 0 auto;
    }

    .todo-add-task .todo__icon {
        width: 27px;
    }

    .todo-item {
        height: 4rem;
    }

    .todo__icon {
        height: 25px;
        width: 28px;
    }
    
    main {
        width: 70%;
        max-width: 45rem;
        padding: 0 0 3rem 0;
        margin: 0 auto;
        min-height: calc(100vh - 272px - 49px);
        height: auto;
    }


    .todo__section-task-filters__div {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        
    }

    .todo__section-task-filters {
        display: none;
    }
    


    [app-theme="dark"]{  
        header {
            background: url('images/bg-desktop-dark.jpg');
            background-position: center;
            background-size: cover;
    }
    }

    [app-theme="light"]{
        header {
            background: url('images/bg-desktop-light.jpg');
            background-position: center;
            background-size: cover;
        }
    }
}